.Card {
  display: flex;
  flex-direction: column;

  min-width: 300px;
  max-width: 300px;
  min-height: 300px;
  max-height: 300px;

  margin-right: 0.5rem;
}

.Card h3 {
  text-align: center;
}

.Card span {
  width: auto;
  text-align: center;
}

.Card p {
  text-align: center;
}

.Card button {
  width: 100%;
}
