.Card {
  display: flex;
  flex-direction: column;

  min-width: 200px;
  width: calc((100% - 4rem) / 4 - 2rem - 2px);
  min-height: calc(50vh - 3.75rem);
  max-height: calc(50vh - 3.75rem);

  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.Card h2 {
  text-align: center;
}

.Card h4 {
  margin: auto;
  text-align: center;
}

.Card span {
  width: auto;
  text-align: center;
}

.Card span {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);

  margin: 1rem 0;
  padding: 0.5rem 0.5rem;

  text-align: center;
  border-radius: 0.4rem;

  border: 1px solid var(--select-hover);
}

.Card p {
  text-align: justify;
  text-justify: inter-word;

  overflow: scroll;
}

.Card button {
  width: 100%;

  margin-top: auto;
}
