.Card {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-width: 300px;

  margin: 0.5em;
  padding: 0.5em;

  background-color: #000;
  color: white;
}

.Card h3 {
  text-align: center;
}

.Card span {
  width: auto;
  text-align: center;

  border: 1px solid white;
}

.Card p {
  text-align: center;
}
